* {
  box-sizing: border-box;
}

.save-drawing-overlay{
    width:89%;
    height:175px;
  	background-image: url('../images/DrawingToolBackgroundHorizontal2.png');
  	background-size: cover;
    z-index = 1000;
    padding: 20px;
    position: absolute;
    top: 149px;
    left: 5.5%;
    display: none;
    border-style: solid;
    border-width: medium;
    border-color: black;
    text-align:center;
    overflow:auto;
}

.edit-overlay{
        display:none;
		vertical-align:middle;
		margin-top:-2px;
		width:100%;
		height:200px;
		max-height:200px;
		min-height:180px;
		background-color: white;
		background-size: cover;
		position:relative;
		border-style: solid;
		border-width: medium;
		border-color: black;
		background-image: url('../images/SearchBackground.png');
		background-size: cover;
		min-width:700px;
		margin-bottom:0;
		position:relative;
}



.edit-overlay-left{
    width:50%;
    text-align:right;
}
.edit-overlay-right{
    width:50%;
    text-align:left;
}

.hidden-div{
    display:none;
}

.highlight {
  background-color: Moccasin;
  z-index=10;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 0px;
}

html {
  font-family: 'Kalam', cursive;
  height:100%;
  margin:0;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/PaperTexture.png');
  background-size: cover;
  overflow: hidden;
  font-family: 'Permanent Marker', cursive;
  position: relative;
}
button {
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: black;
  color: black;
  padding: 5px 15px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Kalam', cursive;
  font-weight:bold;
}
button:hover {
  background-color: gainsboro;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input[type=submit]{
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-color: black;
  color: black;
  padding: 5px 15px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Kalam', cursive;
  font-weight:bold;
}

input[type=submit]:hover {
  background-color: gainsboro;
}

.fileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.background-dark{
	width: inherit;
	height: inherit;	
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}



@media only screen and (min-width: 1px) {
  /* For desktop: */
  .col-1 {	  
	  width: 100%;
	  height:100%;
	  background-image: url('../images/SignInBackground.png');
	  background-size: cover;
      background-position: center; 
	  max-width:500px;
	  min-width:300px;
	  text-align: center;
	  left:15%;
	  display:inline-block;
	  position:relative;	  
	  border-style: solid;
      border-width: medium;
	  border-color: black;
	  outline: 10px solid white;
	  
	}
  .col-2 {
	  width: 50%;
	  height:100%;
	  background-image: url('../images/SignInImage.png');
	  background-size: cover;
      background-position: center; 
  }
  .left-title {
	  width: 30%;
	  height: inherit;
	  box-shadow: 10px 0 40px -2px #888;
	  padding: 15px;
	  background-image: url('../images/OverlayTitle.png');
      background-position: center;
      max-width:100%;
      background-size:contain;
      background-repeat:no-repeat;
  }
  .sign-in-row {
	  width: 100%;
	  height: 60%;
	  text-align: center;
	  display:inline-block;
	  padding: 30px;
  }

  .sign-in-form-right{
	  text-align:left;
	  width:40%;
	  min-width:200px;
	  margin:auto;
	  display:inline-block;
	  vertical-align:top;
  }
  .sign-in-form-left{
	  font-size:20px;
	  overflow:auto;
  }

  .register-row {
	  width: 100%;
	  height: 40%;
	  text-align: center;
	  display:inline-block;
	  padding: 30px;
  }

  .col-5 {
	  width: 100%;
	  height: 40%;
	  background-size: cover;
      background-position: center;
	  max-width:500px;
	  min-width:200px;
	  text-align: center;
	  left:18%;
	  display:inline-block;
	  position:relative;
	  border-style: solid;
      border-width: medium;
	  border-color: black;
	  outline: 10px solid white;
  }
  .right-section {
	  width: 70%;
	  height: inherit;
	  padding: 50px;
	  text-align: center;
	  display:inline-block;
	  position:relative;
	  overflow-y:auto;
  }
  .register-image {	  
	  background-image: url('../images/Register.png');
	  width: 100%;
	  height:100%;
	  background-size: cover;
      background-position: center; 
	  text-align: center;
	  display:inline-block;
	  position:relative;
	}
  .register-button-wrapper{
	  vertical-align: middle;
	  text-align:center;
	  max-width:100%;
	  position: relative;
	  display:inline-block;
	  overflow:hidden;
	  top:45%;
	  max-height:100%;
  }

  .sign-in-button-wrapper{
	  vertical-align: middle;
	  text-align:center;
      margin: auto;
	  display:inline-block;
	  font-size:18px;
	  max-width:100%;
	  max-height:100%;
	  overflow-y:auto;
	  padding-top:50px;
	  padding-button:50px;
  }

  .scroll-wrapper{
    width:100%;
    height:100%;
    max-width:100%;
    max-height:100%;
    overflow:auto;
    position:relative;
  }
  .search-vertical-wrapper{
	width:100%;
	min-height:305px;
	min-width:700px;
	margin:auto;
	position:relative;
  }

  .register-page-image{
		width:100%;
		height:550px;
		max-height:550px;
		background-image: url('../images/Skyline.png');
		background-size: cover;
		position:relative;
		max-width:100%;
        max-height:100%;
        min-width:450px;
	    border-style: solid;
        border-width: medium;
	    border-color: black;
		margin:auto;
  }
  .register-form-wrapper{
	  vertical-align: middle;
	  text-align:center;
	  margin:auto;
	  max-width:100%;
	  left:50%;
	  height:550px;
      padding-top:30px;
      padding-bottom:30px;
      display:inline-block;
      font-size:18px;
	  min-width:450px;
	  margin:auto;
  }
  .register-form-wrapper-left{
	  text-align:right;
	  width:40%;
	  min-width:200px;
	  margin:auto;
	  display:inline-block;
	  vertical-align:top;
  }
  .register-form-wrapper-right{
	  text-align:left;
	  width:40%;
	  min-width:200px;
	  margin:auto;
	  display:inline-block;
	  vertical-align:top;
  }
  .register-text-input-wrapper-left{
	  font-size:20px;
	  overflow:auto;
  }
  .register-text-input-wrapper-right{
	  text-align:right;
  }
  .register-title{
		margin-top:30px;
		margin-bottom:-1px;
		vertical-align:middle;
		width:100%;
		height:100px;
		background-color: white;
		background-size: cover;
		position:relative;
		border-style: solid;
		border-width: medium;
		border-color: black;
		font-size:56px;
		min-width:450px;
  }
  .white-wrapper{
		outline: 10px solid white;
  }
  .edit-account-title{
		margin-top:30px;
		vertical-align:middle;
		width:100%;
		height:100px;
		background-color: white;
		background-size: cover;
		position:relative;
		border-style: solid;
		border-width: medium;
		border-color: black;
		font-size:56px;
		min-width:700px;
  }
  .edit-account-page-wrapper{
	  min-width:700px;
	  width:100%;
	  height:100%;
	  display:inline-block;
  }
  .edit-account-page-image{
		width:70%;
		height:550px;
		min-width:500px;
		background-image: url('../images/SkylineTall.png');
		background-size: cover;
		position:relative;
		display:inline-block;
		border-style: solid;
        border-width: medium;
	    border-color: black;
		margin-top:10px;
  }
  .edit-account-form-wrapper{
	  vertical-align: middle;
	  text-align:center;
	  position:absolute;
	  display:inline-block;
	  min-width:450px;
	  width:100%;
	  right:-2%;
  }
  .edit-account-page-delete{
		width:20%;
		height:550px;
		background-image: url('../images/DeleteBackground.png');
		background-size: cover;
		position:relative;
		display:inline-block;
		border-style: solid;
        border-width: medium;
	    border-color: black;
		margin:none;
		min-width:175px;
  }
  .delete-account-button-wrapper{
	  vertical-align: middle;
	  text-align:center;
	  position: absolute;
      top: 60%;
      left: 10%;
      margin: -50% 0 0 -1.5%;
	  display:inline-block;
  }
  
    .left-menu {
	  width: 30%;
	  height: inherit;
	  box-shadow: 10px 0 40px -2px #888;
	  padding: 15px;
	  text-align:center;
	  vertical-align:center;
	  position:relative;
	  overflow:auto;
  }
  .menu-button-wrapper{
	  vertical-align: middle;
	  text-align:center;
	  display:inline-block;
	  
  }
  .menu-button{
	  width: 100%;
	  height:100px;
	  background-size: cover;
  }
    }
    .menu-button-2{
  	  width: 100%;
  	  height:100px;
  	  background-size: cover;
    }
  .menu-button:hover {
	  opacity:.3;
}
  .menu-button-2:hover {
	  opacity:.3;
}


  .search-options{
		vertical-align:middle;
		margin-top:-2px;
		width:100%;
		height:200px;
		max-height:200px;
		min-height:180px;
		background-color: white;
		background-size: cover;
		position:relative;
		border-style: solid;
		border-width: medium;
		border-color: black;
		background-image: url('../images/SearchBackground.png');
		background-size: cover;
		min-width:700px;
		margin-bottom:0;
		position:relative;
  }
    .search-title{
		vertical-align:middle;
		width:100%;
		height:100px;
		min-height:90px;
		background-color: white;
		background-size: cover;
		position:relative;
		border-style: solid;
		border-width: medium;
		border-color: black;
		font-size:56px;
		min-width:700px;
		margin:0px;
  }
    .search-results{
		height:400px;
		width:100%;
		background-image: url('../images/SearchResultsBackground.png');
		background-size: cover;
		position:relative;
		display:inline-block;
		border-style: solid;
		border-width: medium;
		border-color: black;
		margin-top:10px;
		text-align:left;
		overflow:auto;
		
  }
    .search-options-divider{
		width:32%;
		height:inherit;
		display:inline-block;
		text-align:center;
		vertical-align:middle;
		font-family: 'Kalam', cursive;
		font-weight: bold;
		font-size:18px;
		min-width:150px;
		margin:1px;
		padding:0px;
				height:200px;
        		max-height:200px;
  }
      .search-options-divider-new{
  		width:24%;
  		height:inherit;
  		display:inline-block;
  		text-align:center;
  		vertical-align:middle;
  		font-family: 'Kalam', cursive;
  		font-weight: bold;
  		font-size:18px;
  		min-width:150px;
  		margin:1px;
  		padding:0px;
    }
  .tag-list-wrapper{
		text-align:left;
		overflow: auto;
		font-size:14px;
		height:110px;
		background-color: rgba(255,255,255,0.5);
  }
  .search-button-wrapper{
	  vertical-align: middle;
	  text-align:center;
	  position: relative;
      top: 70%;
      left: 10%;
      margin: -50% 0 0 -1.5%;
	  display:inline-block;
  }

      .returned-choice{
          height:100%;
          width:100%;
          padding:0px;
          font-size:10px;
      }
    .returned-choice-wrapper{
  	  background-color:white;
  	  width:32.0%;
  	  height:40%;
  	  margin:10px;
  	  display:inline-block;
  	  padding:10px;
        font-family: 'Kalam', cursive;
        font-size:12px;
        overflow:auto;
  	  border-style: solid;
  	  border-width: medium;
  	  border-color: black;
  	  min-width:200px;
  	  vertical-align: top;
    }


    .returned-comic{
        height:100%;
        width:100%;
        padding:0px;
    }
  .returned-comic-wrapper{
	  background-color:white;
	  width:23.5%;
	  height:40%;
	  margin:10px;
	  display:inline-block;
	  padding:10px;
      font-family: 'Kalam', cursive;
	  border-style: solid;
	  border-width: medium;
	  border-color: black;
	  min-width:200px;
	  vertical-align: top;
	  overflow:auto;
  }
  .returned-comic-wrapper:hover{
	  box-shadow: 10px 10px 5px rgba(0, 0, 0, .5);
  }
    .returned-comic:focus{
  	  background-color: Moccasin;;
    }
  
  .tag-list-wrapper-comic{
		text-align:left;
		overflow: auto;
		font-size:14px;
		height:140px;
		background-color: rgba(255,255,255,0.5);
  }

  .navigate-title{
		width:100%;
		height:150px;
		background-image: url('../images/ViewBackground.png');
		background-size: cover;
		position:relative;
		border-style: solid;
		border-width: medium;
		border-color: black;
		font-size:24px;
		line-height:28px;
		font-family: 'Kalam', cursive;
		font-weight:bold;
		display:inline-block;
		text-align:center;
  }

    .choice-holder{
  		width:100%;
  		height:150px;
  		background-image: url('../images/ViewBackground.png');
  		background-size: cover;
  		position:relative;
  		border-style: solid;
  		border-width: medium;
  		border-color: black;
  		font-size:24px;
  		line-height:28px;
  		font-family: 'Kalam', cursive;
  		font-weight:bold;
  		display:inline-block;
  		text-align:center;
    }

  .navigate-title-divider{
	  width:30%;
	  height:inherit;
	  display:inline-block;
	  vertical-align:top;
	  padding:15px;
  }
    .navigate-title-divider-small-text{
	  height:inherit;
	  display:inline-block;
	  vertical-align:top;
	  font-size:18px;
	  line-height:24px;
	  font-weight:normal;
  }
  .navigate-embedded-image{
		height:550px;
		width:100%;
		background-color:white;
		position:relative;
		display:inline-block;
		border-style: solid;
		border-width: medium;
		border-color: black;
		margin-top:10px;
		padding:15px;
		text-align:left;
		overflow:auto;
		font-size:32px;
		text-align:center;
  }

  .drawing-options-wrapper{
  		vertical-align:middle;
  		margin-top:-2px;
  		width:100%;
  		height:160px;
  		background-color: white;
  		background-size: cover;
  		position:relative;
  		border-style: solid;
  		border-width: medium;
  		border-color: black;
  		background-image: url('../images/DrawingToolBackgroundHorizontal.png');
  		background-size: cover;
  		display:inline-block;
  		min-width:700px;
    }
  
    .drawing-options{
		vertical-align:middle;
		margin-top:-2px;
		width:100%;
		height:75px;
		position:relative;
		background-size: cover;
		display:inline-block;
		min-width:700px;
		background: rgba(0,0,0,.5);
  }

  .drawing-options-two{
  		vertical-align:middle;
  		margin-top:-2px;
  		width:100%;
  		height:85px;
  		max-height:85px;
  		min-height:85px;
		min-width:700px;
  		position:relative;
  		padding:20px;
  		background-size: cover;
  		display:inline-block;
    }
    .drawing-button{
	  width:50px; 
	  height:50px;
	  background-color:white;
	  background-size: cover;
	  border-style: solid;
	  border-width: medium;
	  border-color: black;
	  margin-left:-8px;
  }
  .drawing-button:hover{
	  background-color: gainsboro;
  }
  .drawing-button:focus{
      background-color: Moccasin;
  }

  .series-title-section{
  		vertical-align:middle;
  		width:100%;
  		height:100px;
  		max-height:100px;
  		min-height:100px;
  		background-color: white;
  		background-size: cover;
  		position:relative;
  		border-style: solid;
  		border-width: medium;
  		border-color: black;
    	background-image: url('../images/DrawingToolBackgroundHorizontal2.png');
  		background-size: cover;
  		min-width:700px;
  		margin-bottom:0;
  		position:relative;
  }

  .drawing-button-wrapper-left{
	  width:50%;
	  height:inherit;
	  padding:20px;
	  display:inline-block;
  }
    .manage-button-wrapper-right{
  	  width:25%;
  	  height:inherit;
  	  display:inline-block;
  	  vertical-align:top;
  	  padding:30px;
    }
  .drawing-button-wrapper-right{
	  width:20%;
	  height:inherit;
	  display:inline-block;
	  vertical-align:top;
	  padding:15px;
  }
  .canvas-and-layer{
	  width:100%;
	  height:450px;
	  display:inline-block;
	  text-align:left;
	  vertical-align:top;
	  min-width:850px;
	  min-height:475px;
	  max-height:475px;

  }
  .canvas-wrapper{
		width:600px;
		min-width:550px;
		max-width:550px;
		background-color:white;
		height:475px;
		min-height:475px;
		position:relative;
		display:inline-block;
		margin-top:10px;
		padding:0px;
		text-align:center;
		display:inline-block;
  }
  .layer-wrapper{
	  width:200px;
	  min-width:200px;
	  height:475px;
	  min-height:475px;
	  max-height:475px;
	  border-style: solid;
	  border-width: medium;
	  border-color: black;
	  background-image: url('../images/LayerBackground.png');
	  background-size: cover;
	  display:inline-block;
	  vertical-align:top;
	  margin-top:10px;
	  text-align:center;
	  padding:10px;
  }
  .layer-title{
	  margin-left:5px;
	  width: 100px;
	  background-color:white;
	  font-size:18px;
	  border-style: solid;
	  border-width: medium;
	  border-color: black;
  }
  .layer-list{
	  margin-left:5px;
	  width: 100px;
	  height: 250px;
	  background-color:white;
	  font-size:14px;
	  border-style: solid;
	  border-width: medium;
	  border-color: black;
	  overflow:auto;
	  font-family: 'Kalam', cursive;
	  font-weight:bold;
  }
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}